:root {
  --color-primary: #ffffff;
  --accent-color: #2196f3;
  --dark-backgroung: #2f303a;
  --item-backgroung: #f5f4fa;
  --description-text-color: #757575;
  --title-text-color: #212121;
  --icons-color: #afb1b8;
}
